.navbar{
  top: 0;
  position: sticky !important ;
  width: 100%;
  
}

.navbar ul {
  list-style: none;
  display: flex;
  
}

.footer{
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}




.aboutheading {
  text-align: center;
}
.p1 {
  text-align: justify;
  width: 90vw;
  margin: auto;
}



.nav-item {
  margin: 3px;
  padding: 5px;
  color: rgb(22, 21, 21);
  text-decoration: none;
  cursor:default;
  
  
}

.footer_nav:hover {
  color: rgb(56, 90, 185);
  font-weight: 500;
}



.active{
  color:  rgb(40, 173, 40);
  font-weight: 500;
}
.heading {
  text-align: center;
}